body 
{
    background-color: #FFFFFF;
    color: #333333;
    font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    overflow-y: scroll;
}

body.ApplicationWrapper
{
    background-attachment: fixed;
    background-color: #C0DEED;
    background-image: url("../images/newhampshire.png");
    background-position: left 40px;
    background-repeat: no-repeat;
}

.topbar
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.global-nav 
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    height: 55px;
    position: relative;
    width: 100%;
}

.global-nav-inner 
{
    background: none repeat scroll 0 0 #000000;
    height: 55px;
}

.global-nav .container 
{
    text-align: center;
}

.container 
{
    margin: 0 20px auto;
    position: relative;
}

.nav-logo-link 
{
	color: #ffffff;
    display: block;
    float: left;
    font-family: "Oleo Script",cursive;
    font-size: 2.8em;
    height: 50px;
    padding: 20px 0 5px 5px;
    text-decoration: none;
}

.pull-left 
{
    float: left;
    text-align: left;
}

.pull-right 
{
    float: right;
    text-align: left;
    width: 300px;
}

hr 
{ 	
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 2px solid #7EA5D7;
    margin: 1em 0; 
    padding: 0; 
}

.panel 
{
    background-clip: padding-box;
    border-radius: 6px;
    line-height: 16px;
    margin-bottom: 10px;
    position: relative;
}

.flex-panel 
{
    background-color: #FFFFFF;
    border: 1px solid #E1E8ED;
    padding: 15px;
}

.flex-panel-header 
{
    font-size: 18px;
    padding-bottom: 5px;
}

.flex-panel-label
{
	font-weight: bold;
}

.flex-panel-text
{
	font-weight: normal;
}

.flex-panel-content
{
	text-align:justify; 
}

.welcomeBarWrapper
{
	float:right;
	padding-top: 10px;	
}

#WelcomeBar
{
	margin-right: 20px;	
	color: #FFFFFF;
	font-size: 16px;	
}

.nfb-button:hover
{
	background: -webkit-radial-gradient(#96C4FF, #7EA5D7) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-radial-gradient(#96C4FF, #7EA5D7) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -moz-radial-gradient(#96C4FF, #7EA5D7) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: radial-gradient(#96C4FF, #7EA5D7) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	clear: none;
	color: #FFFFFF;
	display: inline;
	float: none;
	font-size: 12px;
	letter-spacing: 0;
	outline: 1px none;
	padding: 8px;
	cursor:pointer;
}

.nfb-button
{
	background-color: #7EA5D7;
	border: 1px none;
	border-radius: 5px 5px 5px 5px;
	clear: none;
	color: #FFFFFF;
	display: inline;
	float: none;
	font-size: 12px;
	letter-spacing: 0;
	outline: 0 none;
	padding: 8px;
	cursor:pointer;
}

.copyright 
{
    color: #252525;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
}

.side-nav 
{
	background-color: #ffffff;
	padding-left: 5px;
	list-style-type: none;
}

.side-nav>li
{
	padding-bottom: 20px;
}

.icon
{
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.toolbarIcon 
{
    background-size: 28px auto;
    height: 32px;
    width: 30px;
}

.menu-home
{
	background-image: url("../images/menu-home-off.png");
}
.menu-home:hover
{
	background-image: url("../images/menu-home-on.png");
}

.menu-admin
{
	background-image: url("../images/menu-admin-off.png");
}
.menu-admin:hover
{
	background-image: url("../images/menu-admin-on.png");
}

.menu-users
{
	background-image: url("../images/menu-users-off.png");
}
.menu-users:hover
{
	background-image: url("../images/menu-users-on.png");
}

.menu-settings
{
	background-image: url("../images/menu-settings-off.png");
}
.menu-settings:hover
{
	background-image: url("../images/menu-settings-on.png");
}